<h2>Driver details page</h2>

<p>
  Name: <%= @driver.name %>
</p>
<p>
  VIN: <%= @driver.vin %>
</p>

<p>
  Total Earnings: $<%= @driver.total_earnings %>
</p>

<p>
  Average Rating: <%= @driver.avg_rating %>
</p>

<p class='actions'>
 <%= link_to "Edit", edit_driver_path(@driver) %>
 <%= link_to "Delete", driver_path(@driver), method: :delete, data: { confirm: "Do you want to delete #{@driver.name}?" } %>
<p>

<p>
  <%= link_to "View Trips", driver_trips_path(@driver)%>
</p>


